---
import GitContribution from "../../components/base/GitContribution.svelte"
import Icon from "../../components/base/Icon.svelte"
import Image from "../../components/base/Image.svelte"
import NavItem from "../../components/base/NavItem.svelte"
import GitContributions from "../../components/composite/GitContributions.svelte"
import StatusItem from "../../components/composite/StatusItem.svelte"
import type { StatusItemData } from "../../components/composite/StatusItem.svelte"
import TopTrack from "../../components/composite/TopTrack.svelte"
import { pages } from "../../data/site/pages"
import BaseLayout2 from "../../layouts/BaseLayout2.astro"

let theme = Astro.cookies.get('theme')?.value || 'default'

// let currentBook: StatusItemData = {
//     title: "All The Pretty Horses",
//     subtitle: 'Cormac McCarthy',
//     image: 'https://m.media-amazon.com/images/I/716XjGV8m7L._AC_UF1000,1000_QL80_.jpg'
// }
// let currentTrack: StatusItemData = {
//   title: 'L.I.F.E, Pt. 2',
//   subtitle: 'Emil Rottmayer',
//   image: 'https://stats.fm/api/image?url=https%3A%2F%2Fis1-ssl.mzstatic.com%2Fimage%2Fthumb%2FMusic221%2Fv4%2F36%2F7c%2F81%2F367c816f-25e6-f840-12a9-be23cc0d14a4%2F9a0fea4e-b1ff-4116-b7dd-72b0d0625189.jpg%2F768x768bb.jpg&w=384&q=75&fallbackImg=https://cdn.stats.fm/file/statsfm/images/placeholders/users/private.webp'
// }
---

<BaseLayout2 title="About">
  <div class="col-full row-1 align-end flex between baseline">
    <div class="title">
      <div class="flourishes flex">
        <div class="flourish1">~</div>
        <div class="flourish2">»</div>
      </div>
      <h1>whoami</h1>
    </div>
    <nav class="user-links flex baseline gap-large">
      <NavItem icon="github" href="https://github.com/orangeburrito">GitHub</NavItem>
      <NavItem icon="external-link" href="https://www.linkedin.com/in/orangeburrito/">LinkedIn</NavItem>
      <NavItem icon="book" href="https://github.com/orangeburrito">StoryGraph</NavItem>
      <NavItem icon="paint" href="https://github.com/orangeburrito">UserStyles</NavItem>
    </nav>
  </div>
  <div class="subgrid row-6">
    <div class="subgrid row-3">
      <div class="col-fill row-full">
        <h4>{pages.about.heading}</h4>
        <p>{pages.about.description}</p>
      </div>
      <div class="col-2  row-full">
        <Image src="https://i.pinimg.com/550x/e2/81/67/e28167e16afbcc885b2499bb9e490878.jpg" alt="" caption={pages.about.caption} />
      </div>
    </div>
    <div class="subgrid row-3">
      <div class="col-2 row-full">
        <Image src="https://quoguegallery.com/wp-content/uploads/2020/06/Blue-Florence.jpg" alt="" caption={pages.about.caption2} />
      </div>
      <div class="col-fill row-full">
        <p>{pages.about.description2}</p>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="blockquote col-3 row-1 offset-col-half offset-row-gap-none">
    <p>{pages.about.quote}</p>
    <p class="subtle">— {pages.about.quoteAuthor}</p>
  </div>

  <Fragment slot="sidebar">
    <div class="subgrid col-2 row-full">
      <div class="col-full row-1 flex between baseline gap-none">
        <h3 class="subtle flex">
          <Icon icon="live" />
          User Status
        </h3>
        <p class="small">Updated Weekly</p>
      </div>
      <div class="container sidebar col-full row-fill">
        <StatusItem label="Currently Reading" client:load>
          <p>hello</p>
        </StatusItem>
        <StatusItem label="Top Track" background="var(--color-background-alt)">
          <TopTrack client:load />
        </StatusItem>
        <StatusItem
          label="GitHub Activity"
          background="transparent"
        >
          <GitContributions client:load />
        </StatusItem>
      </div>
    </div>
  </Fragment>
</BaseLayout2>

<style>
  img {
    width: 100%;
    min-height: 50px;
    height: auto;
    border: 1px solid gray;
  }

  .title {
    anchor-name: --page-title;
    h1 {
      color: var(--color-tertiary);
    }

    .flourishes {
      position: absolute;
      position-anchor: --page-title;
      position-area: center left;
      margin-top: var(--space-150);
      margin-right: var(--space-200);
      font-size: var(--font-size-heading-large);
      font-weight: 500;

      .flourish1 {
        color: var(--color-secondary);
      }
      .flourish2 {
        color: var(--color-primary);
      }
    }
  }

  .user-links {
    box-shadow: inset 0 -6px 0 var(--color-border-alt);
  }
</style>