---
import BaseLayout from '../../layouts/BaseLayout.astro'

export function getStaticPaths({paginate}) {
	const allPosts = Astro.fetchContent('../posts/*.md')
	return paginate(allPosts, {pageSize: 4})
}

const {page} = Astro.props
---

<BaseLayout>
<div class="post-list">
{page.data.map((post) => (
	<a href={post.url}>
		<h1>{post.title}</h1>
		<p>{post.description}</p>
	</a>
))}
</div>
</BaseLayout>