---
import Date from '../base/Date.astro'
const { post, image } = Astro.props
---

<div class="post">
<a href={`/posts/${post.id}`}>
		{image === true && (
		<div class="post-icon">
			<img src={post.data.coverImage}/>
		</div>
		)}
		<div class="container-text">
			<h4 class="title">{post.data.title}</h4>
			<p class="description">{post.data.description}</p>
			<div class="date">
				<div class="text">
					<Date date={post.data.publishedDate} />
				</div>
			<img class="img-icon" src="/images/clock_icon.png" alt="">
		</div>
	</div>
</a>
</div>

<style>
	.post {
		--gap-item: var(--space-400);
		position: relative;
		min-width: 400px;
		width: fit-content;
		margin-bottom: var(--gap-item);
	}

	.date {
		display: flex;
		gap: var(--space-150);
	}

	.title {
		display: inline-block;
		transition: color var(--transition-fast);
	}

	.description {
		max-width: 40ch;
	}

	:global(body.retro .post) {
		&:hover {
			.post-icon {
				bottom: var(--space-200);
			}
		}
	}

	:global(body.retro .post-icon) {
		position: absolute;
		width: 30%;
		bottom: 0;
		z-index: -1;
		transition: bottom var(--transition-fast);

		img {
			max-width: 100%;
			max-height: 100%;
			object-fit: cover;
		}
	}

	:global(body.retro .img-icon) {
		display: block;
	}

	:global(body:not(.retro) .post-icon),
	:global(body:not(.retro) .img-icon) {
		display: none;
	}

	@media (max-width: 600px) {
		.post {
			min-width: 100%;
		}

		.container-text .description {
			width: 60%;
		}

		:global(body.retro .post-icon) {
			width: 30%;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}

		:global(body.retro .date .text) {
			order: 2;
		}

		:global(body.retro .date-icon) {
			order: 1;
		}

		.container-text {
			align-items: flex-start;
		}
	}
</style>