---
import Icon from "../components/base/Icon.svelte"
import Image from "../components/base/Image.svelte"
import NavItem from "../components/base/NavItem.svelte"
import CurrentlyReading from "../components/composite/CurrentlyReading.svelte"
import GitContributions from "../components/composite/GitContributions.svelte"
import StatusItem from "../components/composite/StatusItem.svelte"
import TopTrack from "../components/composite/TopTrack.svelte"
import { pages } from "../data/site/pages"
import BaseLayout from "../layouts/BaseLayout.astro"

let theme = Astro.cookies.get('theme')?.value || 'default'
---

<BaseLayout title="About">
  <div class="about-heading col-full row-1 align-end flex between baseline">
    <div class="about-title">
      <div class="flourishes flex">
        <div class="flourish1">~</div>
        <div class="flourish2">»</div>
      </div>
      <h1>whoami</h1>
    </div>
    <nav class="user-links flex baseline gap-large">
      <NavItem icon="github" href="https://github.com/orangeburrito">GitHub</NavItem>
      <NavItem icon="external-link" href="https://www.linkedin.com/in/orangeburrito/">LinkedIn</NavItem>
      <NavItem icon="book" href="https://github.com/orangeburrito">StoryGraph</NavItem>
      <NavItem icon="paint" href="https://github.com/orangeburrito">UserStyles</NavItem>
    </nav>
  </div>
  <div class="subgrid row-6">
    <div class="subgrid row-3">
      <div class="col-fill row-full">
        <h4>{pages.about.heading}</h4>
        <p>{pages.about.description}</p>
        <p>{pages.about.description2}</p>
      </div>
      <div class="col-2  row-full">
        <Image src="https://i.pinimg.com/550x/e2/81/67/e28167e16afbcc885b2499bb9e490878.jpg" alt="" caption={pages.about.caption} />
      </div>
    </div>
    <div class="second-section subgrid row-3">
      <div class="col-2 row-full">
        <Image src="https://quoguegallery.com/wp-content/uploads/2020/06/Blue-Florence.jpg" alt="" caption={pages.about.caption2} />
      </div>
      <div class="col-fill row-full">
        <p>{pages.about.description3}</p>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="blockquote col-3 row-1 offset-col-half offset-row-gap-none">
    <p>{pages.about.quote}</p>
    <p class="subtle">— {pages.about.quoteAuthor}</p>
  </div>

  <Fragment slot="sidebar">
    <div class="subgrid col-2 row-full flex vertical end-y">
      <div class="col-full row-1 flex between baseline gap-none">
        <h3 class="subtle flex">
          <Icon icon="live" />
          User Status
        </h3>
        <p class="small">Updated Daily</p>
      </div>
      <div class="container sidebar col-full row-fill">
        <StatusItem>
          <CurrentlyReading client:load />
        </StatusItem>
        <StatusItem background="var(--color-background-alt)">
          <TopTrack client:load />
        </StatusItem>
        <StatusItem
          background="transparent"
        >
          <GitContributions client:load />
        </StatusItem>
      </div>
    </div>
  </Fragment>
</BaseLayout>

<style>
  img {
    width: 100%;
    min-height: 50px;
    height: auto;
    border: 1px solid gray;
  }

  .about-title {
    anchor-name: --page-title;
    h1 {
      color: var(--color-tertiary);
      height: var(--font-size-heading-large);
    }

    .flourishes {
      position: absolute;
      position-anchor: --page-title;
      position-area: center left;
      margin-top: var(--space-150);
      margin-right: var(--space-200);
      font-size: var(--font-size-heading-large);
      font-weight: 500;

      .flourish1 {
        color: var(--color-secondary);
      }
      .flourish2 {
        color: var(--color-primary);
      }
    }
  }

  .user-links {
    box-shadow: inset 0 -6px 0 var(--color-border-alt);
  }

  @media screen and (max-width: 600px) {
    .about-heading {
      flex-direction: column;
      align-items: flex-start;

      .user-links {
      flex-direction: column;
      align-items: flex-start;
      gap: var(--space-100);
      box-shadow: inset 6px 0 0 var(--color-border-alt);
      }

      .about-title {
        display: flex;
        align-items: center;

        .flourishes {
          position: relative;
          margin-top: 0;

          .flourish1, .flourish2 {
            height: var(--space-400);
          }
        }
      }
    }

    .second-section {
      display: flex;
      flex-direction: column-reverse;
    }
  }
</style>