---
import "../../styles/global.css";
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Date from "../../components/base/Date.svelte";
import Tag from "../../components/base/Tag.svelte";
import { postTagColors } from "../../ts/types";
import Image from "../../components/base/Image.svelte";

export const prerender = true;

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---


<BaseLayout title={post.data.title} sidebarCols={2}>
	<article class="post subgrid col-4 row-full">
		<div class="spacer col-full row-1"></div>
		<header class="subgrid col-full row-2">
		<div class="col-fill row-full flex vertical between">
			<div class="text">
			<h1 class="title">{post.data.title}</h1>
			<p class="description">{post.data.description}</p>
			<Date class="large" date={post.data.publishedDate} length="long" />
			</div>
			<div class="tags flex gap-none">
			{post.data.tags.map((tag) => (
				<Tag color={postTagColors[tag]} />
				))}
			</div>
		</div>
		<div class="cover-image col-1 row-full">
			<Image src={post.data.coverImage} alt="" />
		</div>
		</header>
		<div class="content col-full row-fill">
		<Content />
		</div>
	</article>
</BaseLayout>


<style>
  article {
    header {
      .title {
        color: var(--color-text-heading);
        margin-bottom: var(--space-050);
      }

      .tags {
        width: 25%;
      }
    }
  }
</style>