---
import Date from '../components/Date.astro'
const { post } = Astro.props
const options = { year: 'numeric', month: 'long', day: 'numeric' }
---

<div class="post">
<a href={`/posts/${post.id}`}>
	<div class="post-icon">
		<img src={post.data.coverImage}/>
	</div>
		<div class="text-block">
			<h3 class="post-title title">{post.data.title}</h3>
			<p class="description">{post.data.description}</p>
			<div class="date">
				<Date date={post.data.publishedDate}/>
				<img class="date-icon" src="/images/clock_icon.png" alt="">
			</div>
		</div>
	</a>
</div>
<style>
	.post {
		position: relative;
		width: fit-content;
		margin-bottom: var(--space-xl);
		transition: all 0.08s ease-in-out;
	}

	.text-block {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	
	.post-title {
		display: inline-block;
		transition: color 0.08s ease-in-out;
	}

	.post:hover {
		border-right: 4px solid var(--accent);
		border-bottom: 4px solid var(--accent);
		padding: 0 var(--space-base) var(--space-base) 0;
		margin-bottom: calc(var(--space-xl) - var(--space-md));

		.post-title {
			color: var(--accent);
		}

		.post-icon {
			bottom: var(--space-base);
		}
	}


	.post-icon {
		position: absolute;
		width: 30%;
		bottom: 0;
		z-index: -1;
		transition: bottom 0.08s ease-in-out;
	}
	
	.post-icon img {
		max-width: 100%;
		max-height: 100%;
		object-fit: cover;
	}

	.description {
		max-width: 40ch;
	}

	@media (max-width: 600px) {
		.post-icon {
			width: 50%;
			left: 0;
		}
	}
</style>