---
import Date from '../components/Date.astro'
const { post } = Astro.props
const options = { year: 'numeric', month: 'long', day: 'numeric' }
---

<a class="post" href={post.url}>
		<img class="post-icon" src={post.coverImage}/>
		<div class="text-block">
			<h2 class="post-title title">{post.title}</h2>
			<p class="description">{post.description}</p>
			<div class="date">
				<Date date={post.publishedDate}/>
				<img class="date-icon" src="/images/clock_icon.png" alt="">
			</div>
		</div>
	</a>

<style>
	.post {
		position: relative;
		display: inline-flex;
		gap: clamp(var(--space-xxs), 4vw, var(--space-base));
		transition: 0.08s ease-in;
		margin-bottom: clamp(var(--space-mlg), 4vw, var(--space-xl));
		top: 0;
		left: 0;
	}

	.post-title {
		display: inline-block;
	}

	.post:hover {
		top: -4px;
		left: -4px;
		border-right: 4px solid var(--accent);
		border-bottom: 4px solid var(--accent);
		padding: 0 var(--space-base) var(--space-base) 0;
	}

	.post-icon {
		width: 60px;
		object-fit: contain;
	}
</style>