---
import Date from '../components/Date.astro'
const { post } = Astro.props
const options = { year: 'numeric', month: 'long', day: 'numeric' }
---

<div class="post">
<a href={post.url}>
	<div class="post-icon">
		<img src={post.coverImage}/>
	</div>
		<div class="text-block">
			<h2 class="post-title title">{post.title}</h2>
			<p class="description">{post.description}</p>
			<div class="date">
				<Date date={post.publishedDate}/>
				<img class="date-icon" src="/images/clock_icon.png" alt="">
			</div>
		</div>
	</a>
</div>
<style>
	.post {
		display: flex;
		justify-content: flex-end;
		gap: var(--space-base);
		position: relative;
		top: 0;
		left: 0;
		width: 100%;

		transition: 0.08s ease-in;
		margin-bottom: var(--space-xl);
	}
	
	.post-title {
		display: inline-block;
		font-size: var(--space-mlg);
	}

	.post:hover {
		top: -4px;
		left: -4px;
		border-right: 4px solid var(--accent);
		border-bottom: 4px solid var(--accent);
		padding: 0 var(--space-base) var(--space-base) 0;
	}

	.post:hover .post-title {
		color: var(--accent);
	}

	.post-icon {
		position: absolute;
		height: 80%;
		width: 20%;
		left: 30%;
		z-index: -1;
	}
	
	.post-icon img {
		max-width: 100%;
		max-height: 100%;
		object-fit: cover;
	}

	@media (max-width: 600px) {
		.post-icon {
		width: 50%;
		left: 0;
		}
	}
</style>