---
import Date from '../components/Date.astro'
const { post } = Astro.props
const options = { year: 'numeric', month: 'long', day: 'numeric' }
---

<a class="post" href={post.url}>
		<img class="post-icon" src={post.coverImage}/>
		<div class="text-block">
			<h2 class="post-title title">{post.title}</h2>
			<p class="description">{post.description}</p>
			<div class="date">
				<Date date={post.publishedDate}/>
				<img class="date-icon" src="/images/clock_icon.png" alt="">
			</div>
		</div>
	</a>

<style>
	.post {
		display: inline-flex;
		gap: clamp(var(--pd05), 4vw, var(--pd1));
		transition: 0.08s ease-in;
		margin-bottom: clamp(var(--pd15), 4vw, var(--pd25));
	}

	.post-title {
		display: inline-block;
	}

	.post:hover {
		border-right: 4px solid var(--accent);
		border-bottom: 4px solid var(--accent);
		padding: 0 var(--pd1) var(--pd1) 0;
		margin-bottom: clamp(var(--pd025), 4vw, var(--pd15));
	}

	.post-icon {
		width: 60px;
		object-fit: contain;
	}
</style>