---
import Date from '../components/Date.astro'
const { post } = Astro.props
---

<div class="post hover-slide">
<a href={`/posts/${post.id}`}>
	<div class="post-icon">
		<img src={post.data.coverImage}/>
	</div>
		<div class="text-block">
			<h3 class="title">{post.data.title}</h3>
			<p class="description">{post.data.description}</p>
			<div class="date">
				<div class="text">
					<Date date={post.data.publishedDate}/>
				</div>
				<img class="img-icon" src="/images/clock_icon.png" alt="">
			</div>
		</div>
	</a>
</div>

<style>
	.post {
		--gap-item: var(--space-lg);
		position: relative;
		min-width: 400px;
		width: fit-content;
		margin-bottom: var(--gap-item);

		&:hover {
			.post-icon {
				bottom: var(--space-base);
			}

			.title {
				color: var(--color-secondary);
			}
		}
	}

	.text-block {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.date {
		display: flex;
		gap: var(--space-xs);
	}

	.title {
		display: inline-block;
		transition: color 0.08s ease-in-out;
	}

	.post-icon {
		position: absolute;
		width: 30%;
		bottom: 0;
		z-index: -1;
		transition: bottom 0.08s ease-in-out;

		img {
			max-width: 100%;
			max-height: 100%;
			object-fit: cover;
		}
	}

	.description {
		max-width: 40ch;
	}

	@media (max-width: 600px) {
		.post {
			min-width: 100%;
		}

		.post-icon {
			width: 30%;
			right: 0;
		}

		.date .text {
			order: 2;
		}

		.date-icon {
			order: 1;
		}

		.text-block {
			align-items: flex-start;
		}
	}
</style>