---
import NavBar from '../components/NavBar.svelte'
import RootLayout from './RootLayout.astro'

const { title } = Astro.props
const lang = Astro.cookies.get('language')?.value || 'en'
---

<RootLayout title={title} homepage={true}>
	<Fragment slot="nav">
		<NavBar currentPath={Astro.url.pathname} lang={lang} />
	</Fragment>
	<div class="layout lang-{lang}">
		<div class="corner">
			<slot name="corner"/>
		</div>
		<main>
			<slot/>
		</main>
		<img class="main-image" src="/images/fruitstack2.png" alt="">
	</div>
</RootLayout>

<style>
	.layout {
		position: relative;
		display: grid;
		width: 100%;
		height: 100vh;
		grid-template-areas: 
			"aside main"
			"corner main";
	}

	#site-header, main {
		padding: var(--space-lg);
	}

	#site-header {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		grid-area: aside;
	}

	main {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		flex-grow: 2;
		text-align: right;
		overflow-y: auto;
		grid-area: main;
	}

	.main-image {
		position: absolute;
		image-rendering: pixelated;
		image-rendering: crisp-edges;
		z-index: -3;
		bottom: 15%;
		width: 400px;
	}

	.corner {
		position: absolute;
		bottom: var(--space-lg);
		left: var(--space-lg);
		grid-area: corner;
	}

		
	@media screen and (max-width: 600px) {
		.layout {
			display: flex;
			flex-wrap: wrap;
			height: auto;
		}

		.corner {
			position: relative;
			order: 3;
			margin-top: var(--space-lg);
		}

		main {
			text-align: left;
			align-items: flex-start;
		}
		
		.main-image {
			width: 200px;
			opacity: 0.5;
			right: 10%;
		}
	}

	@media screen and (min-width: 601px) {
		aside {
			gap: var(--space-md);
		}
		
		.main-image {
			left: 20%;
		}
	}
</style>