---
import '../styles/post.css'

import RootLayout from './RootLayout.astro'
import Date from '../components/Date.astro'
import Button from '../components/Button.svelte'

const { frontmatter } = Astro.props
---

<RootLayout title={frontmatter.title}>
	<article>
		<div class="back-button">
			<Button type="secondary" link="/">&lt; Back</Button>
		</div>

		<header class="post-header">
			<img class="hero-image" src={frontmatter.coverImage}/>
			<div class="text-block">
				<h1 class="title">{frontmatter.title}</h1>
				<p class="description">{frontmatter.description}</p>
					<Date date={frontmatter.publishedDate} />
					<img class="img-icon" src="/images/clock_icon.png" alt="">
				{frontmatter.updatedDate != null && (
					<div class="updated">
						<p>Updated</p>
						<Date date={frontmatter.updatedDate} />
					</div>
				)}
			</div>
		</header>
		<div class="content">
			<slot/>
		</div>
	</article>
</RootLayout>