---
import '../styles/global.css'
import '../styles/post.css'

import LogoHeader from '../components/LogoHeader.astro'
import Date from '../components/Date.astro'
import Button from '../components/Button.svelte'
const { frontmatter } = Astro.props
---

<html>
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<title>{frontmatter.title}</title>
	<link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
</head>
<body>
	<LogoHeader/>
	<article>
		<div class="back-button">
			<Button type="secondary" link="/">< Back</Button>
		</div>

		<header class="post-header">
			<img class="hero-image" src={frontmatter.coverImage}/>
			<div class="text-block">
				<h1 class="title">{frontmatter.title}</h1>
				<p class="description">{frontmatter.description}</p>
				<div class="date">
					<Date date={frontmatter.publishedDate} />
					<img class="date-icon" src="/images/clock_icon.png" alt="">
				</div>
				{frontmatter.updatedDate != null && (
					<div class="date updated">
						Last Updated:
						<Date date={frontmatter.updatedDate} />
					</div>
				)}
			</div>
		</header>
		<div class="content">
			<slot/>
		</div>
	</article>
</body>
</html>