---
import '../styles/global.css'
import '../styles/project.css'
import '../styles/post.css'

import LogoHeader from '../components/LogoHeader.astro'
import Button from '../components/Button.svelte'
import Tag from '../components/Tag.svelte'
import { softwareTagColors } from '../ts/types'
const { frontmatter } = Astro.props
---

<html>
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<title>{frontmatter.title}</title>
	<link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
</head>
<body>
	<LogoHeader/>
	<article class="project-article">
        <header class="project-header">
            <div class="back-button">
                <Button type="secondary" link="/projects">&lt; Back</Button>
            </div>
				<h1 class="title">{frontmatter.title}</h1>
                <div class="dates">
                    <img class="img-icon" src="/images/clock_icon.png" alt="">
                    <div class="date">{frontmatter.startDate.toLocaleDateString('en-US', {month: 'short'})} {frontmatter.startDate.getFullYear()}</div>
                    <span>—</span>
                    <div class="date">
                        {frontmatter.endDate ? frontmatter.endDate.toLocaleDateString('en-US', {month: 'short'}) + " " + frontmatter.endDate.getFullYear() : "Present"}
                    </div>
                </div>
				<div class="tags">
					{frontmatter.tags.map((tag) => (
						<Tag color={softwareTagColors[tag]}>{tag}</Tag>
					))}
				</div>
				<p class="description">{frontmatter.description}</p>
			</div>
            <img class="hero-image" src={frontmatter.coverImage}/>
			{frontmatter.url && frontmatter.url.length > 0 ? 
			<div class="project-url">
				<a href={frontmatter.url} target="_blank" rel="noopener noreferrer">Project Site ↗</a>
			</div>
			:
			<div class="project-url">
				<span class="unreleased">Project Unreleased ↗</span>
			</div>
			}
		</header>
		<div class="content">
			<slot/>
		</div>
	</article>
</body>
</html>