---
import '../styles/global.css'
import '../styles/project.css'
import '../styles/post.css'

import LogoHeader from '../components/LogoHeader.astro'
import Button from '../components/Button.svelte'
import Tag from '../components/Tag.svelte'
import Link from '../components/Link.svelte'
import Image from '../components/Image.svelte'
import Date from '../components/Date.astro'
import { softwareTagColors } from '../ts/types'
const { frontmatter } = Astro.props
---

<html>
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<title>{frontmatter.title}</title>
	<link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
</head>
<body>
	<LogoHeader/>
	<article class="project-article">
        <header class="project-header" style={`${frontmatter.color ? `--project-gradient: ${frontmatter.color};`: ""}`}>
			<div class="back-button">
				<Button type="secondary" link="/projects">&lt; Back</Button>
			</div>
			<div class="text-block">
				{frontmatter.coverIcon && (
					<div class="cover-icon">
						<Image src={frontmatter.coverIcon} alt={frontmatter.title} type="pixelated" width="var(--size-cover-icon)" />
					</div>
				)}
				<h1 class="title">{frontmatter.title}</h1>
				<p class="description">{frontmatter.description}</p>
				<div class="dates">
					<img class="img-icon" src="/images/clock_icon.png" alt="">
					<Date date={frontmatter.startDate} monthOnly={true}/>
					<span>—</span>
					<Date date={frontmatter.endDate} monthOnly={true}/>
				</div>
				<div class="tags">
					{frontmatter.tags.map((tag) => (
						<Tag color={softwareTagColors[tag]}>{tag}</Tag>
					))}
				</div>
			</div>
			<div class="hero-image">
				<Image src={frontmatter.coverImage} alt={frontmatter.title} expand={true} client:load />
			</div>
			<div class="project-url">
				{frontmatter.url && frontmatter.url.length > 0 ? 
					<Link href={frontmatter.url} external={true}>Project Site</Link>
				:
					<span class="unreleased">Project Unreleased ↗</span>
				}
			</div>
		</header>
		<div class="content">
			<slot/>
		</div>
	</article>
</body>
</html>

<style>
	.cover-icon {
		position: absolute;
		right: 0;
		top: 0;
		--size-cover-icon: 120px;
	}

	@media (max-width: 600px) {
		.cover-icon {
			--size-cover-icon: 80px;
		}
	}
</style>